<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <!-- VUE.JS -->
    <script src="https://unpkg.com/vue@next"></script>

    <!-- AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="styles/main.css">

    <title>Crear Préstamo</title>
</head>

<body>

    <div id="app">
        <header class="header">
            <h1>
              <a href="accounts.html" class="text-decoration-none text-dark">
                <span class="color">Home</span>banking
              </a>
            </h1>
  
              <nav>
                <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link active text-dark fs-3 text-uppercase" aria-current="page" href="cards.html">Tarjetas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark fs-3 text-uppercase" href="transfers.html">Transferencias</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark fs-3 text-uppercase" href="#" @click="logout">Cerrar Sesión</a>
                  </li>
                </ul>
              </nav>
          </header>

        <main>
            <h2 class="text-center text-uppercase p-5">Crear préstamo</h2>
            <form class="formulario">
                <div class="campo">
                    <label class="campo__label" for="loanName">Nombre del Préstamo</label>
                    <input class="campo__field" type="text" id="loanName" v-model="loanName" placeholder="Universitario">
                </div>

                <div class="campo">
                    <label class="campo__label" for="payments">Cuotas</label>
                    <input class="campo__field" type="text" id="payments" v-model="payments" placeholder="1, 2, 3, 4">
                </div>

                <div class="campo">
                    <label class="campo__label" for="maxAmount">Cantidad maxima permitida</label>
                    <input class="campo__field" type="number" id="maxAmount" v-model="maxAmount" placeholder="370000">
                </div>

                <div class="campo">
                    <label class="campo__label" for="fee">Interes</label>
                    <input class="campo__field" type="text" v-model="fee" id="fee" placeholder="7">
                </div>
                
                <div class="campo">
                  <button class="boton btn btn-primary" @click="createLoan">Crear préstamo</button>
                </div>
            </form>
        </main>
    

        <footer class="footer">
            <h4>&copy; Copyright 2021 || Mabe by: Tobias Pazos</h4>
        </footer>
    </div>

    <script src="js/create-loan.js"></script>
</body>


</html>