*{
margin: 0;
padding: 0;
font-family: 'Source Sans Pro', sans-serif;

}
:root{    
    --a:#023059;
    --b:#023859;
    --c:#048ABF;
    --d:#04B2D9;
    }
    
body{
    background: rgb(168, 157, 157,0.3);
}

#app{
    /* background: rgb(66,63,65);
background: linear-gradient(207deg, rgba(66,63,65,1) 0%, rgba(136,49,203,1) 45%, rgba(148,187,233,1) 100%); */
/* background: rgb(66,63,65);
background: linear-gradient(207deg, rgba(66,63,65,1) 0%, rgba(46,14,71,1) 45%, rgba(148,187,233,1) 100%); */
/* background: rgb(66,63,65);
background: linear-gradient(207deg, rgba(66,63,65,1) 31%, rgba(75,29,184,1) 85%, rgba(46,14,71,1) 100%); */

}



.datos{
    flex-direction: column;
   margin: 10vh 0 10vh 10vh;
}

.titulo{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 2vh;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 3vw;
    background-color: hsl(208, 96%, 18%, 0.8);
    min-width: 20rem;
    margin-top: 10vh;
    box-shadow: black 2px 2px 30px 2px;
    border-radius: 1%;
}

form input{
    max-width: 20vw;
    margin-bottom: 2vh;
    border: 1px solid;
    padding: 0.2vw;
    min-width: 10rem;
}

form button{
    max-width: 5vw;
    border: 1px solid;
    padding: 0.2rem;
}

.div1{
    display: flex;
    justify-content: center;
}

.div2{
    display: flex;
    justify-content: center;
}

 h2{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 2vh;
}

table{
    border: 1px solid;
    border-collapse: collapse;
    border: 1px solid black!important;
}

table tr td{
    border:1px solid black!important;
   padding: 1vh;
}

/*Header*/

header a{
    text-decoration: none;
    color: black;
}

header a:hover{
    color: black;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
    background-color:  var(--a);
    box-shadow: black 0px 1px 100px 10px;
}

header img{
    width: 3vw;
}

.usuario{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

p{
    margin: 0;
}

.usuario p{
    margin-right: 1vw;
}

.usuario button{
    padding: 0 1vw;
    margin: 0 0.5vw;
}
/*Main*/

.balances{
    margin: 15vh 2vw ;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.balances .card{
    background-color:hsl(208, 96%, 18%, 0.8);
    text-align: center;
    color: white;
    padding: 1.5vh;
    border-radius:6% ;
    box-shadow: black 2px 2px 20px 0px;
   min-width: 20vw;
   
}

.botones{
    background-color: var(--b)!important;
    border-radius: 10%;
    border: none;
    color: white;
    padding: 0.5rem;
}
.botones:hover{
    background-color: var(--c)!important;
}
button:hover{
    background-color: var(--c)!important;
}
.Accounts{
    margin-bottom: -15vh;
}

main{
    padding:0 5vw;
   
}

.donthaveloans{
  margin-top: 25vh;
  margin-bottom:20vh;
}

.btn-primary{
  background-color: var(--b);
  border-color:var(--b) ;

}

.clientLoansTitulo{
  margin-top: 20vh;
 
}

.createAccBtn{
  margin-top: -5vh;
}

.btn-primary:hover{
  background-color: var(--c);
}

#loansTable{
  
}

.table{
    overflow: auto;
    box-shadow: black 2px 2px 20px 0px;
    
    margin-bottom: 10vh;
    margin-top: 10vh;
}

table th, table td{
    text-align: center;
    border: black 1px solid;
 color: #000;
    /* background-color: rgba(15, 181, 223,0.3)!important; */
    background-color:hsl(208, 96%, 18%, 0.8)!important;
    
}

.table-head{
    border: solid 1px black!important;
    color: white;
}

div.card{
    box-shadow: 1px 2px 10px
}

.divisor{
  border: 0; height: 0; box-shadow: 0 1px 5px 1px grey;
  margin: 2vh 0
}

.flechaAbajo{
  display: flex;
  justify-content: space-between;
 align-items: center;
}

.flechaAbajo a img{
  width: 6vw;
}

.imagenCuentas{
  max-width: 20vw;
  margin-top: -2vw;
}

.imagenLoanApplicationContainer{
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}

.imagenLoanApplication{
  max-width: 30vw;
  margin-top: 4.5vh;
}

.Banner{
  background: rgb(168, 157, 157,0.3);
  padding: 2vh;
  border-radius: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-shadow: black 2px 2px 20px 2px;
  margin-bottom: 15vh;
}

.Banner img{
  max-width: 30vw;
}

.imagenTransfers{
  max-width: 98vw;
  margin-top: 4.5vh;
}

.imagenTransactionsContainer{
  display: flex;
  justify-content: center;
}

.imagenTransactions{
  max-width: 50vw;
}

.imagenCreateCards{
  max-width: 100vw;
  margin-top: 4.5vh;
  
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

input[type=number] { -moz-appearance:textfield; }
/*Footer*/

footer{
    text-align: center;
    color: white;
    padding-top: 1vh;
    padding-bottom: -4vh;
    background: var(--a);
    position: fixed;
    bottom: 0;
    width: 100vw;
    max-width: 100vw;
 
    box-shadow: black 0px 1px 100px 10px;
}
input[type="checkbox"]{
  display: none;
}

.toggle{
  display: none
}
@import url("https://fonts.googleapis.com/css?family=Oswald:500");



nav {
  width: 100%;
  top: 50px;
 text-align: end;
}

nav a {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  margin: 0 15px;
  font-size: 16px;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
}

nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: white;
  top: 47%;
  animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

nav a:hover:before {
  animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

@keyframes in {
  0% {
    width: 0;
    left: 0;
    right: auto;
  }
  100% {
    left: 0;
    right: auto;
    width: 100%;
  }
}
@keyframes out {
  0% {
    width: 100%;
    left: auto;
    right: 0;
  }
  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
nav a:nth-child(1) {
  animation: show 0.2s 1.1s ease 1 both;
}

nav a:nth-child(2) {
  animation: show 0.2s 1.2s ease 1 both;
}

nav a:nth-child(3) {
  animation: show 0.2s 1.3s ease 1 both;
}

nav a:nth-child(4) {
  animation: show 0.2s 1.4s ease 1 both;
}

nav a:nth-child(5) {
  animation: show 0.2s 1.5s ease 1 both;
}


/* Media Queries */
@media only screen and (max-width: 768px){
  .flechaAbajo{
    display: none;
  }

  .imagenTransfers{
    max-width: 100vw;
    margin-bottom: 3vh;
  }

  .imagenTransactions{
    max-width: 80vw;
  }

  .imagenLoanApplication{
    max-width: 60vw;
    margin-top: 4.5vh;
  }

  .toggle{
    display: initial;
  }

  .Banner{
    display: flex;
    flex-direction: column;
    
  }
  .Banner img{
    max-width: 50vw;
  }
  
  .nav-horizontal{
    display: none;
  }
  .wrapper{
    position: fixed;
    top: 0;
    z-index: 1;
    /*left: -100%;*/
    right: -100%;
    height: 100%;
    width: 100%;
   background:hsl(208, 96%, 18%, 0.95);
    /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
    transition: all 0.6s ease-in-out;
  }
  #active:checked ~ .wrapper{
    /*left: 0;*/
    right:0;
  }
  .menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
    /*left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    /*color: #fff;*/
    /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
    transition: all 0.3s ease-in-out;
  }
  .menu-btn span,
  .menu-btn:before,
  .menu-btn:after{
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid white;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .menu-btn:before{
    transform: translateY(-8px);
  }
  .menu-btn:after{
    transform: translateY(8px);
  }
  
  
  .close {
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background .6s;
  }
  
  /* closing animation */
  #active:checked + .menu-btn span {
    transform: scaleX(0);
  }
  #active:checked + .menu-btn:before {
    transform: rotate(45deg);
    border-color: #fff;
  }
  #active:checked + .menu-btn:after {
    transform: rotate(-45deg);
    border-color: #fff;
  }
  .wrapper ul{
    position: absolute;
    top: 60%;
    left: 50%;
    height: 90%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li{
    height: 10%;
    margin: 15px 0;
  }
  .wrapper ul li a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    position: absolute;
    line-height: 50px;
    margin: 5px 30px;
    opacity: 0;
  
    
  }
  .wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
     /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
    /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
    width: 100%;
    height: 10%;
    left: 0;
    top: 50%;
    
    transform: scaleY(1);
    z-index: -1;
    
    animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
    animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
  }
  .wrapper ul li a:hover{
    color: black;
  }
  input[type="checkbox"]{
    display: none;
  }
  
  #active:checked ~ .wrapper ul li a{
    opacity: 1;
  }
  .wrapper ul li a{
    transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(100px);
  }
  #active:checked ~ .wrapper ul li a{
    transform: none;
    transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1); /* easeOutBackを緩めた感じ */
     transition-delay: .6s;
    transform: translateX(-100px);
  }
  

}